.frame1-container {
  min-height: 100vh;
}
.frame1-frame1 {
  width: 100%;
  height: 1080px;
  display: flex;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.frame1-image1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame1-text {
  top: 226px;
  left: 583px;
  color: rgba(255, 255, 255, 1);
  width: 754px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text1 {
  font-weight: 500;
}
.frame1-text3 {
  top: 287px;
  left: 652px;
  color: rgba(255, 255, 255, 1);
  width: 616px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-image3 {
  top: 399px;
  left: 652px;
  width: 204px;
  height: 33px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame1-image4 {
  top: 399px;
  left: 1062px;
  width: 206px;
  height: 35px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame1-text5 {
  top: 402px;
  left: 652px;
  color: rgba(30, 30, 30, 1);
  width: 204px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text7 {
  top: 405px;
  left: 1062px;
  color: rgba(255, 255, 255, 1);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
